/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}
@media(min-width:600px) and (max-width: 767px) {
	body#body.tablet .nav-collapse.collapse {
	    width: 100%;
	}
	body#body.tablet.start #wrapper .article-body>h2 {
	    font-size: 21px;
	}
	body#body.tablet h2.first-color {
	    font-size: 24px;
	}
	body#body.tablet p.stat--item__number {
	    font-size: 38px;
	}
	body#body.tablet.leistungen .nav-kachel--text h2 {
	    font-size: 18px;
	}
	body#body.tablet .team-container--content h2 {
	    font-size: 18px;
	}
	body#body.tablet h2.primary-header {
	    font-size: 32px;
	}
	body#body.tablet.leistungen .position_bottom1 .below-content--text--container {
	    padding: 10px;
	}
	body#body.tablet.ueberUns .below-content--text--container {
	    padding: 10px 5px;
	}

}
@media(max-width: 767px) {
	body#body.tablet {
	    padding-right: 0px;
	    padding-left: 0px;
	}
}
@media(max-width: 768px) and (orientation: portrait) {
	body#body:not(.phone) .kontakt-info--top {
	    width: 490px;
	}
}
@media(max-width: 800px) and (orientation: portrait) {
	body.mobile .team-container--content h2 {
	    line-height: 26px;
	}	
	body#body.phone #content .blog {
	    padding: 40px 0px 0px;
	}	
	body.phone.spezialtransporte .page-header:after {
	    content: attr(title);
	    font-size: 38px;
	    color: #fff;
	    position: absolute;
	    top: 0;
	    left: 25%;
	    width: 50%;
	    line-height: 40px;
	    letter-spacing: 0.05em;
	    font-weight: bold;
	    text-transform: uppercase;
	    text-shadow: 0px 1px 2px #000;
	}
	body.phone.spezialtransporte h1 {
		opacity: 0 !important;
	}
	body#body.phone.start #wrapper .above-the-fold {
	    background: url(/images/spedition-schreyer-index-mobile.jpg) top left no-repeat;
	    background-size: cover;
/*	    background-size: 380%;
	    background-position-x: -400px;*/
	}	
	body.phone header#header {
	    display: none;
	}
	body#body.phone.start .content {
	    height: 70%; 
	}		
	body.phone.stellenangebote .phone-header {
	    background: url(/images/spedition-schreyer-stellenangebote-mobile.jpg) top left no-repeat;		
    	background-size: cover;
	}
	body#body.phone.stellenangebote .page-header h1 {
		width: 340px;
	}
	body#body.phone.stellenangebote .svg-logo {
	    display: block !important;
	}	
	body.phone.fuhrpark .phone-header {
	    background: url(/images/spedition-schreyer-fuhrpark-mobile.jpg) top left no-repeat;		
    	background-size: cover;
	}
	body#body.phone.fuhrpark .page-header h1 {
		width: 185px;
	}
	body.phone.team .phone-header {
	    background: url(/images/spedition-schreyer-das-team-mobile.jpg) top left no-repeat;		
    	background-size: cover;
	}
	body#body.phone.team .page-header h1 {
		width: 245px;
	}
	body.phone.ueberUns .phone-header {
	    background: url(/images/spedition-schreyer-ueber-uns-mobile.jpg) top left no-repeat;		
    	background-size: cover;
	}
	body#body.phone.ueberUns .page-header h1 {
		width: 220px;
	}
	body.phone.lagerlogistik .phone-header {
	    background: url(/images/spedition-schreyer-lagerlogistik-mobile.jpg) top left no-repeat;		
    	background-size: cover;
	}
	body#body.phone.lagerlogistik .page-header h1 {
		width: 280px;
	}	
	body.phone.spezialtransporte .phone-header {
	    background: url(/images/spedition-schreyer-spezialtransporte-mobile.jpg) top left no-repeat;		
    	background-size: cover;
	}
	body#body.phone.spezialtransporte .page-header h1 {
		width: 360px;
	}	
	body.phone.projektlogistik .phone-header {
	    background: url(/images/spedition-schreyer-projektlogistik-mobile.jpg) top left no-repeat;		
    	background-size: cover;
	}
	body#body.phone.projektlogistik .page-header h1 {
		width: 169px;
	}	
	body.phone.werksverkehr .phone-header {
	    background: url(/images/spedition-schreyer-werksverkehr-mobile.jpg) top left no-repeat;		
    	background-size: cover;
	}
	body#body.phone.werksverkehr .page-header h1 {
		width: 280px;
	}	
	body.phone.transportlogistik .phone-header {
	    background: url(/images/spedition-schreyer-transportlogistik-mobile.jpg) top left no-repeat;		
    	background-size: cover;
	}
	body.phone.overview .phone-header {
	    background: url(/images/spedition-schreyer-leistungen-mobile.jpg) top left no-repeat;		
    	background-size: cover;
	}
	body.phone .page-header h1 {
		margin: 0 auto;
	}
	body.phone.overview .page-header h1,
	body.phone.transportlogistik .page-header h1 {
		width: 212px;
	}
	body.phone:not(.kontakt) .phone-header {
	    width: 100%;
	    height: calc(100vh - 106px);
	}
	body.phone.not_home:not(.mobileDefault) .page-header {
	    position: absolute;
	    top: 180px;
	    left: 0;
	    width: 100%;
	}
	body.phone.not_home:not(.kontakt) .items-row .page-header {
	    position: initial;
	    top: initial;
	    left: initial;
	    width: initial;
	}	
	body#body.phone.not_home:not(.mobileDefault) .page-header h1 {
	    color: #fff;
	    font-size: 32px;
	    font-weight: bold;
	    word-break: break-word;
	    text-shadow: -2px 1px 2px #777;
	}
	body#body.phone.not_home .svg-logo {
	    opacity: 0.8;
	    top: 250px;
	    max-width: 210px;
	}
	body.phone.not_home:not(.kontakt) .phone-header:after {
	    content: '';
	    position: absolute;
	    width: 100vw;
	    height: 100vh;
	    top: 0;
	    left: 0;
	    background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(12, 27, 47, 0.37) 100%);
	    z-index: 0;
	}

	body.leistungen.phone .below-content--container.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}	
	body#body.phone .nav-kachel--text {
	    padding: 10px 30px 30px;
	}
	body.start.phone .innerwidth.nav-kachel--wrapper {
	    padding: 0px 20px;
	}
	body#body.phone .greeting .content-bottom.flex {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	}
	body#body.phone .greeting .content-bottom--img__container img {
	    -o-object-fit: cover;
	       object-fit: cover;
	    width: 100%;
	}
	body#body.phone .greeting .content-bottom--img__container {
	    height: 250px;
	    overflow: hidden;
	    margin: 0 auto 15px;
	    width: 70%;
	}
	body.mobile .ueber-uns--module .below-content--container:first-child .below-content--text--container{
		padding: 0px 0px 30px 0px;
	}
	body.mobile .ueber-uns--module .below-content--container:first-child {
		display: block;
	}
	body.phone .spedFamilie--img--container {
	    margin: 30px 30px;
	}	
}
@media(max-width: 880px) and (orientation: landscape) {
	/*critical*/

	body#body.phone.not_home .svg-logo {
		display: none;
	}
	body#body.phone #module_93 .nav-kachel--item {
	    width: 488px;
	    margin: 0 auto 50px;
	}		
	body#body.start.phone .article-body>h2 {
	    width: 55%;
	}	
	body#body.phone.not_home .page-header h1 {
		transform: translateY(0) !important;
		opacity: 1 !important;
	}		
	body#body.phone.start .content {
	    height: 80%; 
	}		
	body#body.phone .flex.team-container--item {
	    width: 500px;
	    margin: 0px auto 30px;
	}	
	body#body.phone .ueber-uns--module .below-content--container:first-child {
		width: 550px;
		margin: 0px auto;
	}	
	body.phone #leistungen .nav-kachel--item {
	    width: 430px;
	    margin: 0 auto 50px;
	}
	body.phone .nav-kachel--wrapper {
	    text-align: center;
	}
	body#body.phone .greeting .content-bottom--img__container {
	    border-radius: 2px;
	    overflow: hidden;
	    margin-left: 10px;
	}
	body#body.phone .greeting .content-bottom--img {
	    -ms-flex-preferred-size: 40%;
	        flex-basis: 40%;
	}
	body#body.phone .greeting .content-bottom--text {
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	}
	body#body.phone .greeting .content-bottom.flex {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	    -webkit-box-align: end;
	        -ms-flex-align: end;
	            align-items: flex-end;
	}
	/*non-critical*/
	body.phone.not_home .svg-logo {
	    opacity: 0.05;
	}		
}
@media(max-width: 880px) {
	/*critical*/
	body.phone .kontakt-info--top {
	    z-index: 2;
	    position: relative;
	}	
	body#body.phone.ueberUns .below-content--text--container {
	    padding: 0px 5px;
	}	
	body.phone .ueber-uns--module .bckgr-color {
	    background: transparent;
	}
	body.phone .ueber-uns--module .below-content--text--container:first-child ul {
		margin-bottom: 0px;
	}
	body.phone .ueber-uns--module .below-content--container.flex:last-child {
	    background: #f2f2f2;
	    padding: 20px 10px;
	    border-radius: 2px;
	}	
	body.phone .flex.team-container--item {
	    margin-bottom: 30px;
	}
	body.phone .flex.team-container--row {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.phone .below-content--container {
	    padding: 0px 0px 30px;
	}	
	body#body.phone .ueber-uns--module .below-content--container {
		display: block;
	}	
	body.phone .content p,
	body.phone .below-the-fold p,
	body.phone .below-content ul,
	body.phone .item-page ul {
	    font-size: 16px;
	}	
	body.phone .spedition-umwelt h3 {
	    font-size: 21px;
	}	
	body.leistungen.phone h2.secondary-header,
	body.ueberUns.phone h2.secondary-header {
	    font-size: 21px;
	    font-weight: bold;
	}
	body.phone footer.footer {
	    background: url(/images/spedition-schreyer-footer-bckgr-small.jpg) top left no-repeat;
	    background-size: cover;
	}	
	body#body.phone #leistungen .nav-kachel--text {
	    padding: 10px 30px 10px;
	}	
	body.phone h2.halfborder:not(.tl):after {
	    width: 70%;
	}	
	body.phone #leistungen .nav-kachel--text p {
	    font-size: 14px;
	}	
	body.phone.leistungen .nav-kachel--text h2 {
	    font-size: 18px;
	}	
	body.not_home.phone .item-page h1 {
	    font-size: 28px;
	}	
	body.phone h2.primary-header {
	    font-size: 32px;
	}
	body.phone .nav-kachel--text {
	    padding: 10px 60px 30px;
	}
	body.phone .nav-kachel--item {
	    margin-bottom: 50px;
	}
	body.phone .banner h3 {
	    font-size: 18px;
	}
	body.phone .content-bottom--text h2 {
	    font-size: 24px;
	}
	body.phone .module_top.position_top1 {
	    padding: 0px 20px;
	}
	body.phone .module_top.position_top1 h2 {
	    font-size: 21px;
	}
	body#body.phone.start .above-the-fold {
	    background: url(/images/spedition-schreyer-bckgr-large.jpg) top left no-repeat;
	    background-size: cover;
	}
	body.phone .navbar .btn-navbar {
		margin: 30px;
	}
/*	body.phone nav.navbar-wrapper.flex.fullwidth {
	    -webkit-box-pack: justify;
	        -ms-flex-pack: justify;
	            justify-content: space-between;
	}*/
	body.phone.start .item-page.start {
	    width: 90%;
	    margin: 0 auto;
	}
	body.start.phone .article-body>h2 {
	    width: 300px;
	    text-align: center;
	    margin: initial;
	}
	body.phone .item-page.start h2 {
	    font-size: 18px;
	}
	body.phone ul.nav.menu.nav-pills {
		background: rgba(255,255,255,0.95);
/*	    background: linear-gradient(to bottom, rgba(203, 31, 24,0.2) 0%,rgba(19, 144, 205, 0.6) 100%);*/
	    border-radius: 3px 0px 0px 5px;
	    padding: 20px 0px;
	    box-shadow: 0px 4px 25px -15px #000;	    
	}
	body.phone {
	    padding-right: 0px;
	    padding-left: 0px;
	}	
	body.phone .item-page.start h1 {
	    font-size: 40px;
	}
	body#body.phone .content-bottom.flex,
	body#body.phone:not(.overview) .nav-kachel--row.flex {
	    display: block;
	}
	body#body.overview.phone .nav-kachel--row.flex:last-child {
		flex-direction: column-reverse;
	}
	body#body.overview.phone .nav-kachel--row.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body#body.overview.phone .nav-kachel--item.text-only {
	    min-height: 200px;
	}		
	body.phone p.stat--item__desc {
	    font-size: 18px;
	}
	body.phone p.stat--item__number {
	    font-size: 48px;
	}
	/*non-critical*/
	body#body.phone .copyWrapper a {
		font-weight: bold;
	}
	body#body.phone .copyWrapper {
	    padding: 40px 0px 40px 20px;
	    text-align: center;
	}
	body#body.phone .copyWrapper p {
		font-size: 12px;
	}	
	body#body.phone .flex.stat-container {
	    display: block;
	}		
}
@media(max-width: 1280px) {
	body.desktop .innerwidth {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media(max-width: 1366px) and (orientation: landscape) {
	body#body.tablet.start .item-page.start {
	    width: 70%;
	}
}
@media(max-width: 1366px) {
	/*critical*/
	body.mobile .copyWrapper {
	    text-align: center;
	}
	body#body.mobile.stellenDetail h1 {
	    font-size: 28px;
	}
	body.mobile .scroll-top-wrapper {
	    width: 35px;
	    height: 40px;
	    line-height: 40px;
	    right: 3%;
	    bottom: 6%;
	    font-size: 27px;
	    border: 2px solid var(--first-color);
	}
	body#body.tablet.start .article-body>h2 {
	    font-size: 24px;
	    width: 50%;
	    margin-left: 20px;
	}	
	body.tablet.start .page-header {
	    padding-left: 20px;
	}
	body.mobile .item-page.start h1 {
	    font-size: 40px;
	    line-height: 42px;
	    text-shadow: -1px 2px 2px #333;
	}	
	body#body.mobile ul.nav.menu.nav-pills {
	    margin: 0px 0px 10px 10px;
	    box-shadow: 0px 4px 25px -15px #000;
	}
	body#body.not_home.tablet .svg-logo {
		display: none;
	}
	body.mobile #module_93 .nav-kachel--text {
	    background: #f2f2f2;
	}	
	body#body.mobile .nav-kachel--img:after {
	    background: linear-gradient(to bottom, rgba(203, 31, 24,0.1) 0%,rgba(19, 144, 205, 0.5) 100%);
	}	
	body.mobile .logo--small, nav.navbar-wrapper .vcard {
	    position: relative;
	    z-index: 1;
	}
	body.mobile .nav-collapse .nav>li>a, 
	body.mobile .nav-collapse .dropdown-menu a {
		font-weight: normal;
	}
	body#body.mobile.kontakt .svg-logo {
	    opacity: 0.1;
	    top: 149px;
	}	
	body.phone.stellenangebote .svg-logo,
	body.phone.stellenDetail .svg-logo,
	body.phone.stellenDetail .phone-header,
	body.phone.impressum .phone-header,
	body.phone.datenschutz .phone-header,
	body.phone.impressum .svg-logo,
	body.phone.datenschutz .svg-logo {
		display: none;
	}
	body.mobile .below-content--text--container h3 {
	    font-size: 21px;
	}
	body.mobile.ueberUns .below-content--text--container {
	    padding: 30px 20px;
	}
	body#body.mobile.viewHeight .above-the-fold {
	    height: initial;
	}
	body.tablet h2.primary-header {
	    font-size: 36px;
	}	
	body.mobile.not_home .svg-logo {
	    opacity: 0.2;
	    top: 389px;
	}
	body.not_home.mobile .content,
	body.not_home.mobile .below-the-fold .innerwidth {
		padding-left: 20px;
		padding-right: 20px;
	}
	body#body.site.mobile .breadcrumb {
	    padding: 8px 20px;
	    font-size: 10px;
	}
	body.mobile .dropdown-menu>li>a:hover,
	body.mobile .dropdown-menu>li>a:focus {
		background: transparent;
	}
	body.mobile.start .logo--small {
		z-index: 5;
	}
	/*body.mobile.start .svg-logo,*/
	body.mobile.start .navbar-wrapper,
	body.mobile.start .item-page.start {
		z-index: 1;
	}
	body.mobile.start .above-the-fold:after {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: rgba(0, 0, 0, 0.2);
	    z-index: 0;
	}	
/*	body.tablet.start .item-page.start {
	    width: 85%;
	}*/
	body.tablet.start .article-body>h2 {
	    width: initial;
	}
	body.tablet.start .above-the-fold {
	    background: url(/images/spedition-schreyer-bckgr-large.jpg) top left no-repeat;
	    background-size: cover;
	}	
	body.tablet .navbar .nav>li>a,
	body.tablet .dropdown-menu>li>a {
		color: #777;
/*		text-shadow: 1px 4px 2px #5c5c5c;*/
	}
	body.phone .navbar .nav>li>a,
	body.phone .dropdown-menu>li>a {
		color: #333;
/*		text-shadow: 1px 4px 2px #5c5c5c;*/
	}	
	body.mobile .nav-collapse .dropdown-menu a {
		font-size: 16px;
	}
	body#body.tablet .navbar .nav>li>a {
		text-shadow: none;
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body.mobile .navbar .nav > li {
	    display: block;
	}
	body#body.tablet .nav-collapse, body#body.tablet .nav-collapse.collapse {
	    height: 0!important;
	    overflow: hidden!important;
	    padding: 0 0 80px 20px;
	}
	body.tablet .nav-collapse.collapse {
	    position: absolute;
	    right: -30px;
	    top: 0;
	    width: 80%;
	}
	body.tablet .nav-collapse {
	    clear: both;
	}
	body.tablet .nav-collapse ul.nav.menu.nav-pills {
	    background: rgba(255,255,255,0.97);
    	/*background: linear-gradient(to bottom, rgba(203, 31, 24, 0) 0%,rgba(255, 255, 255, 0.8) 13%,rgba(255, 255, 255, 1) 100%);	*/    
	    width: 100%;
	    top: 60px;
	    -webkit-box-shadow: 0 14px 30px -11px rgba(74,74,74,0);
	    border-radius: 0 0 0 10px;
	    padding: 30px 0 10vh;
	    -webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	    transform: translateX(100%);
	    -webkit-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	body#body.tablet .nav-collapse.collapse,
	body#body.tablet .nav-collapse {
	    height: auto!important;
	}
	body.tablet .nav-collapse.openMenu ul.nav.menu.nav-pills {
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	    -webkit-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}
	body.tablet .navbar .nav>li {
	    display: block;
	    float: none;
	}
	body.tablet .navbar .btn-navbar {
	    display: block;
	    position: relative;
	    z-index: 1;
	}
	body.tablet .navbar {
	    margin: 0 30px 0 auto;
	}
	body.tablet .navbar-wrapper {
	    -ms-flex-preferred-size: 75%;
	    flex-basis: 75%;
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
/*	body#body.mobile ul.nav-child.dropdown-menu li a {
	    color: #fff;
	}*/
	body#body.mobile ul.nav-child.dropdown-menu {
	    background: transparent;
	    position: initial;
	    float: none;
	    box-shadow: none;
	    border: none;
	}
	body#body.mobile .dropdown-menu:before,
	body#body.mobile .navbar .nav>li>.dropdown-menu:after {
		content: initial;
		display: none !important;
	}
	body#body.mobile .navbar .nav li.dropdown>.dropdown-toggle .caret {
		display: none;
	}
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    padding: 10px 30px;
	}


/*non-critical*/
	body.phone h3.image-attach:after {
	    left: 250px;
	}
	body.tablet h3.image-attach:after {
	    left: 300px;
	}	
	body.mobile.impressum h2,
	body.mobile.datenschutz h2 {
		font-size: 21px;
		font-weight: bold;
	}
	body.mobile.impressum h3,
	body.mobile.datenschutz h3 {
		font-size: 18px;
		font-weight: bold;
	}
	body.mobile.impressum p,
	body.mobile.datenschutz p {
		font-size: 14px;
	}	
	body.mobile.leistungen .position_bottom1 .below-content--text--container {
	    padding: 30px;
	}
	body.mobile .position_bottom2 .below-content--container p {
	    width: 90%;
	    margin: 0 auto;
	}
	body.mobile .position_bottom2 .below-content--container.flex div:first-child {
	    margin-bottom: 60px;
	}
	body.mobile .spedition-umwelt .below-content--text--container {
	    max-width: initial;
	}
	body.mobile .position_bottom2 .below-content--container.flex {
	    display: block;
	}
	body.mobile #module_120 .below-content--team h2 {
	    font-size: 22px;
	}
	body.mobile #module_120 .below-content {
		text-align: center;
	}
	body.mobile .nav-kachel--text p {
		font-size: 16px;
	}
	body.tablet .nav-kachel--text {
	    padding: 30px 20px;
	    margin-bottom: 30px;
	}
	body.tablet.start .nav-kachel--wrapper,
	body.tablet .custom.stats {
	    padding: 0px 30px;
	}
	body.tablet .content-bottom--img {
	    -ms-flex-preferred-size: 30%;
	        flex-basis: 30%;
	}
	body.tablet .content-bottom--text {
	    -ms-flex-preferred-size: 70%;
	        flex-basis: 70%;
	}	
	body.tablet p.stat--item__desc {
	    font-size: 18px;
	}
	body.tablet p.stat--item__number {
	    font-size: 58px;
	}
}
@media(min-width: 1025px) and (max-width: 1280px) {
	body#body.desktop .navbar .nav>li>a {
		padding: 8px;
		font-size: 14px;
	}
	body#body.desktop .logo--small {
	    -ms-flex-preferred-size: 25%;
	        flex-basis: 25%;
	}
	body#body.desktop .navbar {
	    -ms-flex-preferred-size: 75%;
	        flex-basis: 75%;
	}	
}
@media(min-width: 1281px) and (max-width: 1680px) {
	body.desktop .navbar .nav>li>a {
		padding: 10px;
		font-size: 14px;
	}
	body#body.desktop .logo--small {
	    -ms-flex-preferred-size: 40%;
	        flex-basis: 40%;
	}
	body#body.desktop .navbar {
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	}	
}
@media(min-width: 1921px) {
	/*critical*/
	.header--img--container img {
	    -o-object-fit: cover;
	       object-fit: cover;
	    width: 100%;
	    height: 100%;
	}	
}

/*specials*/
@media(max-width: 1023px) {
	body#body.desktop div#wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
	}
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 1024px) {
	body.desktop #resizeAlarm {
		display: none !important;
	}
}