/*
 * styles CSS
 */

@font-face {
    font-family: 'quicksandregular';
    src: url('/templates/089-standard/fonts/quicksand-regular-webfont.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('/templates/089-standard/fonts/quicksand-bold-webfont.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'heeboregular';
    src: url('/templates/089-standard/fonts/heebo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'heeboregular';
    src: url('/templates/089-standard/fonts/heebo-bold-webfont.ttf') format('truetype');
    font-weight: bold;
}
/*Resp overrides*/


@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1000px;
      margin: 0px auto;
  }
}


/* critical CSS */

img[alt=""],
img:not([alt]) {
      border: 5px dashed #c00;

}
:root {
  --first-color: #1491ce; 
  --second-color: #fa1414;
}
body#body .first-color {
	color: var(--first-color);
}
.second-color {
	color: var(--second-color);
}
a {
    transition: all .3s ease-in-out;
}
button.btn-navbar:active {
outline: none;
border: none;
}
button.btn-navbar:focus, a:focus {outline:0;}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.space-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body {
    font-family: 'quicksandregular';
    animation:fadein .5s ease-in-out ;
      -webkit-animation:fadein .5s ease-in-out; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

body p {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.2em;
}
.content p,
.below-the-fold p,
.below-content ul,
.item-page ul  {
    font-family: 'heeboregular';
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.2em;      
}
h1, h2, h3, h4 {
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
.null5-13,
body.desktop .item-page.start h1 {
    letter-spacing: 0.05em;
    line-height: 1.3em;
}
.null5-12 {
    letter-spacing: 0.05em;
    line-height: 1.2em;   
}
.null15-16 {
    letter-spacing: 0.15em;
    line-height: 1.6em;
}
.clr {
    clear: both;
}
.uppercase {
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.bckgr-color {
	background: #f2f2f2;
}

/*content*/
body.desktop div#module_90 .greeting h2 {
    font-size: 28px;
}
body:not(.phone) .kontakt-info--top {
    width: 660px;
    margin: 0 auto;
}
body:not(.phone) .kontakt-info--top--item {
    width: 50%;
    float: left;
    color: #8a8a8a;
}
body:not(.phone) .kontakt-info--top--item p {
    font-size: 16px;
}
body.kontakt form {
    margin-bottom: 60px;
}

body.desktop.kontakt .svg-logo,
body.stellenangebote .svg-logo {
    display: none !important;
}
body.not_home nav.navbar-wrapper {
    background: linear-gradient(to left, rgba(203, 31, 24,0.2) 10%,rgba(19, 144, 205, 0.4) 100%);
}
body.start .above-the-fold {
    background: url('/images/spedition-schreyer-bckgr-large.jpg') fixed no-repeat;
    background-size: cover;
}
body.start .above-the-fold,
body.viewHeight .above-the-fold {
    height: 100vh;
}
body.not_home .item-page h1,
body.not_home .blog h1 {
    color: var(--first-color);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.3em;
    font-size: 32px;
}
body.desktop.not_home .item-page h1 {
    font-size: 40px;
}
h2.primary-header {
    font-size: 50px;
    font-family: 'heeboregular';
}
h2.secondary-header {
    font-size: 28px;
}
.above-the-fold {
    position: relative;
}
body.start .svg-logo {
    top: 15vh;
}
.svg-logo {
    position: absolute;
    left: 0;
    top: 45vh;
    width: 360px;
    z-index: 1;
}
body.desktop.not_home .svg-logo {
    z-index: 0;
}
body.stellenDetail .svg-logo {
    display: none !important;
}




body.site .breadcrumb {
    background: transparent;
    padding: 8px 0px;
    font-size: 12px;
    margin: 0px;
}
body.desktop.start .module_bottom.position_bottom1,
body.tablet.start .module_bottom.position_bottom1 {
    background: url(/images/spedition-schreyer-bottom-bckgr.jpg) top left no-repeat;
    background-size: cover;
}
.module_top.position_top1 h3 {
    font-size: 18px;
}
body.start .article-body>h2 {
    width: 50%;
    text-align: center;
/*    margin: 0 auto;*/
    background: var(--second-color);
    color: #fff;
    border-radius: 3px;
}
/*body.start .article-body>h2 {
    width: 70%;
    text-align: right;
}*/
nav.navbar-wrapper .vcard {
    display: none;
}
.header--img--container {
    position: relative;
    z-index: 0;
}
.header--content {
    position: absolute;
    top: 30%;
    left: calc((100% - 1180px) / 2); /*innerwidth 1180px ?*/
}
body.start .content {
    height: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.item-page.start {
    position: relative;
    scroll-behavior: smooth;
    transform: translateY(0px);
    will-change: opacity, tranform;
   -webkit-backface-visibility:hidden;
   backface-visibility:hidden;
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;    
}
.item-page {
    z-index: 2;
}
.item-page.start h1 {
    font-weight: bold;
}
body.desktop .item-page.start h1 {
    font-size: 58px;
    margin: 0px;
    text-shadow: -1px 2px 2px #333;    
}
/*body.desktop .item-page.start h1 {
    font-size: 80px;
    margin: 0px;
    width: 70%;
    text-align: right;
}*/
.item-page.start h1 {
    color: #fff;
    /*font-size: 80px;*/
}
.item-page.start h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--second-color);
    font-size: 34px;
}
body.site .page-header {
    border-bottom: none;
}
.logo--small,
nav.navbar-wrapper .vcard {
    padding: 20px;
}
ol.breadcrumb a {
    color: var(--first-color);
}
body.mobile #content .blog {
    padding: 0px 20px;
}
body.site .blog .item {
    margin-bottom: 50px;
}
/*.blog .items-row {
    margin: 0px 0px 30px;
}*/
body.site .blog h2 {
    font-size: 21px;
}
body.site .blog h1 {
    /*font-size: 28px;*/
}
body.site .blog p {
    font-size: 14px;
}
body.site .blog .pull-left.item-image {
    max-width: 340px;
    margin-right: 30px;
}
body.site .blog span.icon-chevron-right {
    display: none;
}
.flex.team-container--item div {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
}
.team-container,
.custom.team-image {
    margin: 60px 0px;
}
.team-container .flex.team-container--item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.team-container--content {
    padding: 20px;
    text-align: center;
    background: #f5f5f5;
    color: var(--first-color);
}
.team-container--row {
    margin-bottom: 30px;
}
.team-container--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.team-container--content h2 {
    font-size: 21px;
    font-weight: bold;
}
.team-container--content p {
    font-size: 14px;
}
.below-content--team {
    padding: 40px 0px 50px;
}
.below-content--team h2 {
    font-size: 28px;
}
.custom.team-image figcaption {
    background: #f5f5f5;
    text-align: center;
    padding: 40px 0px;
}
.custom.team-image p {
    margin: 20px 0px;
}
.custom.team-image span {
    font-size: 22px;
}
.fuhrpark-item {
    margin-bottom: 30px;
}
body#body.desktop.stellenDetail h1 {
    font-size: 36px;
}
/*<--- END content*/

 /*Menue!*/
body.site .navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;    
}
body.site .navbar .nav li.dropdown.active>.dropdown-toggle .caret {
    border-top-color: var(--second-color);
    border-bottom-color: var(--second-color);
}
body.desktop.is_home nav.navbar-wrapper {
    position: fixed;
    z-index: 3;
}
body.desktop nav.navbar-wrapper {
    position: relative;
    opacity: 1;
    transform: translateY(0px);
    animation: fadein 1s ease forwards;
    transition: all 0.5s ease;
    z-index: 1;
}
body.desktop nav.navbar-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0);
    z-index: -1;
    transform: translateX(-100%);
    transition: background 0.8s ease, transform .5s ease-in-out 0.8s;
}
body.desktop nav.navbar-wrapper.sticky:after {
    background: rgba(255,255,255, 0.9);
    transform: translateX(0%);
    transition: background 0.5s ease .3s, transform 0.6s ease-in-out 0.6s;
}
body.desktop nav.navbar-wrapper.sticky {
    position: fixed;
    top: 0px;
    -webkit-box-shadow: 0px 2px 40px -20px #4a4a4a;
            box-shadow: 0px 2px 40px -20px #4a4a4a;
    height: 90px;
    opacity: 0;
    -webkit-animation: menuDrop 1s cubic-bezier(.16,.56,.45,.22) forwards;
            animation: menuDrop 1s cubic-bezier(.16,.56,.45,.22) forwards;
}
body.desktop nav.navbar-wrapper .logo--small,
body.desktop nav.navbar-wrapper .navbar {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.desktop nav.navbar-wrapper.sticky .logo--small,
body.desktop nav.navbar-wrapper.sticky .navbar {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
    @-webkit-keyframes menuDrop {
        0% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 0; }
        50% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 0; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }
    @keyframes menuDrop {
        0% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 0; }
        50% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 0; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }


body:not(.phone) nav.navbar-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body:not(.phone) nav.navbar-wrapper>div {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
}
body#body.desktop .navbar-wrapper:not(.sticky) .navbar .nav>li:not(.active)>a {
    color: #fff;
    text-shadow: 1px 2px 1px #868686;    
}
body#body.desktop .navbar-wrapper:not(.sticky) .navbar .nav>.active>a {
    text-shadow: 1px 2px 4px #838383;
}
body#body .navbar .nav>li>a {
    text-shadow: none;
    font-size: 16px;
}
body#body .dropdown-menu {
    border: none;
    box-shadow: -2px 11px 30px -10px #9a9a9a;
}
body#body .dropdown-menu>li>a {
    padding: 10px 20px;
}
body#body .navbar .nav>.active>a,
body#body .navbar .nav>.active>a:hover,
body#body .navbar .nav>.active>a:focus,
body#body.mobile .dropdown-menu>.active>a {
    color: var(--second-color);
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: none;
    border-radius: 0px;
}
body#body .navbar .nav {
    float: none ;
}
.navbar .nav > li {
  display: inline-block;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    left: 0;
    z-index: 4;
}
body#body.phone .navbar {
    position: absolute;
    right: 0;
    left: initial;
}
body.site .dropdown-menu {
    padding: 0px;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
    opacity: 1;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3),
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(0px) translateX(0) rotate(0deg);
    -ms-transform: translateY(0px) translateX(0) rotate(0deg);
    transform: translateY(0px) translateX(0) rotate(0deg);
} 
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(8px) translateX(0) rotate(35deg);
    -ms-transform: translateY(8px) translateX(0) rotate(35deg);
    transform: translateY(8px) translateX(0) rotate(35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(3) {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-35deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-35deg);
    transform: translateY(-8px) translateX(0) rotate(-35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
} 
body#body .btn-navbar .icon-bar+.icon-bar {
    margin-top: 4px;
}
body#body .navbar .btn-navbar .icon-bar {
    width: 40px;
    height: 4px;
    box-shadow: none;
}
body#body button.btn.btn-navbar {
    text-shadow: none;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
  /*hover / current active states*/
body#body.desktop .dropdown-menu>li>a:hover,
body#body.desktop .dropdown-menu>li>a:focus,
body#body.desktop .dropdown-submenu:hover>a,
body#body.desktop .dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color: var(--first-color);
    background-image: none;
    filter: none;
}
body#body .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: var(--first-color);
    background-image: none;
    filter: none;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #e8e8e8;
}
    /*<--END hover / current active states*/


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}


/* non-critical CSS */
body.desktop.leistungen .position_bottom2 .below-content--container {
    justify-content: space-between;
}
body.desktop.leistungen .position_bottom2 .below-content--container div {
    flex-basis: 47%;
}
body.leistungen .position_bottom2 .below-content p {
    line-height: 1.4em;
}
.spedition-umwelt h3:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    top: 55px;
    left: 0px;
    background: #333;
}
.spedition-umwelt h3 {
    position: relative;
}
h3.image-attach:after {
    content: '';
    position: absolute;
    width: 50%;
    top: -10px;
    right: 20%;
    width: 60px;
    height: 60px;
    background: url(/images/leistungen/spedition-schreyer-umwelt-icon.png) top left no-repeat;
}
.custom.spedition-umwelt {
    margin: 60px 0px;
}
.spedition-umwelt .below-content--text--container {
    padding: 0px;
    /*max-width: 360px;*/
}
.below-content--text--container p,
.spedition-umwelt p,
.below-content ul,
.content .above-the-fold ul {
    font-size: 18px;
    color: #6a6a6a;
}
.below-content ul li,
.above-the-fold ul li {
    line-height: 1.7em;
}
.below-content--text--container {
    padding: 50px;
}
.below-content--text {
    background: #fff;
}
.ueber-uns--module .bckgr-color {
    background: #f2f2f2;
}
body.desktop .ueber-uns--module .below-content--text:first-child,
body.tablet .ueber-uns--module .below-content--text:first-child {
    margin-right: 20px;
}
body.desktop ul.no-header,
body.tablet ul.no-header {
    margin-top: 60px;
}
body.desktop .below-content--container>div,
body.tablet .below-content--container>div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.below-content--img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.below-content--container {
    padding: 30px 0px;
}
body.desktop footer.footer,
body.tablet footer.footer {
    background: url(/images/spedition-schreyer-footer-bckgr-large.jpg) top left no-repeat;
    background-size: cover;
}
.banner h3 {
    font-size: 21px;
    font-weight: bold;
    padding: 0px 30px;
}
.banner {
    text-align: center;
    padding: 40px 0px;
}
body.desktop p.stat--item__desc {
    font-size: 18px;
}
body.desktop p.stat--item__number {
    font-size: 68px;
    margin-bottom: 30px;
}
body.desktop .flex.stat-container,
body.tablet .flex.stat-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.stat--item {
    text-align: center;
}
.custom.stats {
    margin: 30px 0px;
}
.custom.bckgr-color.spedFamilie a:hover img {
    opacity: 0.7;
/*    border-color: var(--first-color);*/
}
.custom.bckgr-color.spedFamilie a img {
/*    border: 5px solid transparent;*/
    opacity: 1;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}
body.desktop .spedFamilie--img--container {
    width: 540px;
}
.spedFamilie--img--container {
    margin: 30px auto;
    position: relative;
    overflow: hidden;    
}
.spedFamilie--img--container:after,
.nav-kachel--img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(203, 31, 24,0) 100%,rgba(19, 144, 205, 0) 100%);
    transition: all 0.5s ease-in-out;
}
.spedFamilie a:hover .spedFamilie--img--container:after,
body.desktop .nav-kachel--item a:hover .nav-kachel--img:after {
    background: linear-gradient(to bottom, rgba(203, 31, 24,0.1) 0%,rgba(19, 144, 205, 0.5) 100%);
}
.spedFamilie h2 {
    font-size: 32px;
}
.spedFamilie h3 {
    font-size: 18px;
    color: #333;
}
.spedFamilie {
    text-align: center;
    padding: 40px 0px;
    margin: 30px 0px;
}
#leistungen .nav-kachel--item {
    position: relative;
}
#leistungen .nav-kachel--text {
    position: absolute;
    top: 30px;
    padding: 0px 40px 10px 20px;
    text-align: left;
    border-radius: 2px;
}
#leistungen .nav-kachel--item a .nav-kachel--text {
    background: rgba(106, 190, 247, 0.9);
    border: 1px solid #fff;
}
#leistungen .nav-kachel--text h2 {
    color: #fff;
}
#leistungen .nav-kachel--text p {
    color: #fff;
    margin: 10px 0px;
    font-size: 16px;    
}
#leistungen .text-only .nav-kachel--text p {
    color: #333;
    font-size: 16px;
}
#leistungen .text-only .nav-kachel--text h2 {
    color: var(--first-color);
    font-size: 24px;
}
body:not(.phone) #leistungen .nav-kachel--row {
    margin-bottom: 50px;
}
h2.halfborder:after {
    content: '';
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    position: absolute;
    width: 85%;
    height: 30px;
    left: 0;
}
h2.halfborder.tl:after {
    width: 90%;
}
h2.halfborder {
    margin-top: 0px;
}

body.desktop .nav-kachel--item a .nav-kachel--text {
    background: #fff;
    transition: 0.3s ease-in-out;
}
body.desktop .nav-kachel--item a:hover .nav-kachel--text {
    background: #e2e2e2;
}
.nav-kachel--img {
    overflow: hidden;
    position: relative;
}
body.desktop .nav-kachel--item a:hover .nav-kachel--img img {
    transform: scale(1.3);
    transition: 5s cubic-bezier(.78,.05,.94,.77);
}
body.desktop .nav-kachel--item a .nav-kachel--img img {
    transform: scale(1);
    transition: 0.5s cubic-bezier(.78,.05,.94,.77);
}
.nav-kachel--item a:hover,
.nav-kachel--item a:focus,
.spedFamilie a:hover,
.spedFamilie a:focus {
    text-decoration: none;
}
.nav-kachel--text p {
    font-family: 'quicksandregular';
    color: #333;
    font-size: 14px;
}
.nav-kachel--text h2 {
    color: #333;
    font-size: 20px;
}
body.leistungen .nav-kachel--text h2 {
    font-size: 24px;
    font-weight: bold;
}
.nav-kachel--text {
    text-align: center;
    padding: 30px 60px;
}
body.desktop .nav-kachel--text {
    padding: 30px 110px;
}
body.desktop .nav-kachel--img img,
body.tablet .nav-kachel--img img {
    width: 100%;
}
.nav-kachel--row .nav-kachel--item:last-child {
    margin-right: 0px;
}
body.desktop .nav-kachel--item,
body.tablet .nav-kachel--item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-right: 20px;
}
.content-bottom--text h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
}
div#module_90 p {
    font-size: 16px;
}
body.desktop .content-bottom--img,
body.tablet .content-bottom--img {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
body.leistungen.overview .module_bottom {
    margin: 50px 0px 0px;
}
.top {
    margin: 30px 0px;
}
.module_bottom {
    margin: 30px 0px;
}
.position_bottom2 {
    margin: 60px 0px 0px;
}
.innerwidth.content-bottom--wrapper {
    padding: 20px 0px;
}
.content-bottom.flex {
    background: rgba(255,255,255,0.95);
    padding: 20px;
    border-radius: 3px;
}
body.desktop .content-bottom.flex {
    padding: 70px;
}
body.desktop .content-bottom.flex>div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.footer--bottom {
    text-align: center;
/*    margin: 60px 0px;*/
}
.logo--small__footer {
    margin: 0px 0px 50px;
    padding-top: 30px;
}
.copyWrapper {
    padding: 10px 0px 20px 20px;
}
.copyWrapper p {
    font-size: 14px;
}
body.kontakt i.fa.fa-share {
    display: none;
}
body.kontakt button.ap-btn,
body.stellenangebote a.btn {
    background: var(--first-color);
    background-image: none;
    border: 1px solid var(--first-color);
    text-shadow: none;
    color: #fff;
    box-shadow: 0px 10px 30px -13px rgba(52, 158, 240, 0.788235294117647);
    transition: all 0.3s ease-in-out;
}
body.kontakt button.ap-btn:hover,
body.stellenangebote a.btn:hover {
    color: var(--first-color);
    background: #fff;
}
body.desktop .item-page.impressum,
body.desktop .item-page.datenschutz {
    margin-top: 140px;
}
footer p.org {
    display: none;
}
footer .vcard a,
footer .vcard p {
    letter-spacing: 0.15em;
    color: #333;
    font-weight: bold;
}
body.Firefox .scroll-top-wrapper {
    font-weight: bold;
}
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 4;
    color: var(--first-color);
    width: 35px;
    height: 45px;
    line-height: 45px;
    right: 5%;
    bottom: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 32px;
    border: 2px solid var(--first-color);
}
body.desktop .scroll-top-wrapper:hover {
  background-color: var(--first-color);
  color: #fff;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 0.4;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

/*Bilder Galerie CSS*/
body.phone div#galerieWrapper {
    text-align: center;
}
.galerieItemWrapper img {
    max-width: 305px;
    margin-bottom: 30px;
}
.hover__opacity:hover {
    opacity: 0.60;
}
.galerie__modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
body#body .galerieButton {
    color: #fff !important;
    font-size: 42px;
    border: none;
    display: inline-block;
    padding: 10px 20px 20px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.display-topright {
    position: absolute;
    right: 10%;
    top: 10%;
}
.galerie__modal__content {
    margin: 5% auto;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
    text-align: center;
}
body.desktop .galerieRow,
body.tablet .galerieRow {
    width: 50%;
}
.galerieItemWrapper {
    padding: 20px;
}
body.desktop #galerieWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body.desktop .galerie__modal__content {
    width: 680px;
}
body.tablet .galerie__modal__content {
    width: 580px;
}
body.phone .galerie__modal__content {
    width: 330px;
}
@media(max-width: 736px) and (orientation: landscape) {
   body.phone .galerie__modal__content {
      width: 440px;
  } 
}
.animate-zoom {
    -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s;
}
  @-webkit-keyframes animatezoom {
    from{-webkit-transform:scale(0);transform:scale(0)} 
    to{-webkit-transform:scale(1);transform:scale(1)}
  }
  @keyframes animatezoom {
    from{-webkit-transform:scale(0);transform:scale(0)} 
    to{-webkit-transform:scale(1);transform:scale(1)}
  }

/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}

/*cookie control*/
body#body #cookiesck {
    box-shadow:  0px -11px 40px -5px rgba(0, 0, 0, 0.4);
}
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
/*    font-size: 16px;*/
}
body#body #cookiesck_accept {
    background: #fff;
    color: #033482;
    float: none;
    width: 90px;
    margin: 20px auto 0px !important;
    border: 1px solid #033482;
}
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    padding: 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
/*    font-size: 16px;*/
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #033482;
    background: #fff;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #033482;
    color: #fff;
    border-color: #fff;
}
@media(max-width: 1280px) {
  body#body.site div#cookiesck span,
  body#body.site div#cookiesck a,
  body#body.site div#cookiesck p {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 0px !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      /*text-align: left !important;*/
      line-height: 25px !important;
  }
}
@media(max-width: 1366px) {
    body#body.mobile #cookiesck_accept {
        width: 80px;
        padding: 5px 15px;
    }
}
a.cookieImp,
body#body #cookiesck_readmore {
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    color: #fff;
}
a.cookieImp:hover,
body#body #cookiesck_readmore:hover {
    color: #033482;
    background: #fff;
    text-shadow:none;
}
